body{
    margin: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color:#77ffc0;
    font-size: 50px;
}

.left-img{
    font-size: 3vw;
    width: 35vw;
}

.navegacao{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-navegacao{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-navegacao > ul > a {
    text-decoration: none;
    list-style: none;
}

.card-navegacao > ul > a {
    text-decoration: none;
    list-style: none;
}

li{
    padding: 35px;
    color:#77ffc0;
    font-size: 30px;
}

.projetos{
    background: #534d63;
    border-radius: 15px;
    text-align: center;
    margin-right: 40px;
}

.sobre{
    background: #534d63;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    margin-right: 40px;
}

.contato{
    background: #534d63;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    margin-right: 40px;
}

.projetos:hover{
    background: #848499;
    border-radius: 15px;
    text-align: center;
    margin-right: 40px;
}

.sobre:hover{
    background: #848499;
    border-radius: 15px;
    text-align: center;
    margin-right: 40px;
}

.contato:hover{
    background: #848499;
    border-radius: 15px;
    text-align: center;
    margin-right: 40px;
}